@(message: String)

@main("Welcome to Play") {
    <h3>Messages received</h3>

    <div class = "container">
        <ul class="list-group" data-bind="foreach: messages">
            <li class="list-group-item" data-bind="text: $data"></li>
        </ul>
    </div>

    <script type="text/javascript" charset="utf-8">

    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket

    console.log("@routes.Application.wsmessage.webSocketURL(request)")
    var socket = new WS("@routes.Application.wsmessage.webSocketURL(request)")

    socket.onmessage = function(event){
            viewModel.eventDispatcher.dispatch(event)
    }
    </script>
}
