@(message: String)

@main("Welcome to Play") {
    <div class = "container">
        <h4>Messages received:</h4>
        <ul class="list-group" data-bind="foreach: messages">
            <li class="list-group-item small" style="padding: 0px">
                <span class="col-lg-2" data-bind="text: $data.time.toLocaleTimeString()"></span>
                <span class="col-lg-8" data-bind="text: JSON.stringify($data.eventData)"></span>
            </li>
        </ul>
    </div>

    <script type="text/javascript" charset="utf-8">

    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket

    console.log("@routes.Application.wsmessage.webSocketURL(request)")
    var socket = new WS("@routes.Application.wsmessage.webSocketURL(request)")

    socket.onmessage = function(event){
            viewModel.eventDispatcher.dispatch(event)
    }
    </script>
}
