@(message: String)

@main("Welcome to Play") {
    <h3>Messages received</h3>

    <div class = "container">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    <script type="text/javascript" charset="utf-8">

    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket

    console.log("@routes.Application.wsmessage.webSocketURL(request)")
    var socket = new WS("@routes.Application.wsmessage.webSocketURL(request)")

    var receiveEvent = function(event){
    console.log(event.data)
    }

    socket.onmessage = receiveEvent
    </script>
}
